!!! 5
%head
	%link(rel="stylesheet" type="text/css" href="css/reset.css")
	%link(rel="stylesheet" type="text/css" href="css/style.css")
%body
	.container
		%header
			.h1-container
				<h1><span class="break little-t">The</span> <span class="break">Lonely</span> Designer</h1>
			.h2-container
				%h2 A social support group for designers in itty-bitty design teams.
		%section
			.h2-container
				%h2 Tell me more.
				.line
			%article 
				%p Being one of the only (or the only) designer in an organisation is a curse and a blessing. On one hand, there's huge amounts of ownership and big challenges that help you grow. On the other than, there's no mentorship and let's be real: sometimes, it's a little lonely.
		%section
			.h2-container
				%h2 Let's do this!
				.line
			%article 
				%p Being one of the only (or the only) designer in an organisation is a curse and a blessing. On one hand, there's huge amounts of ownership and big challenges that help you grow. On the other than, there's no mentorship and let's be real: sometimes, it's a little lonely.